<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home" *ngIf="!custLogin">
      <ion-icon name="home"></ion-icon>
      <ion-label>홈</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="customer" *ngIf="!custLogin" routerLink="/app/tabs/customer" >
      <ion-icon name="contacts"></ion-icon>
      <ion-label>고객</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="asset" *ngIf="!custLogin"  routerLink="/app/tabs/asset">
      <ion-icon name="logo-usd"></ion-icon>
      <ion-label>자산</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-asset" *ngIf="custLogin" routerLink="/app/tabs/my-asset">
      <ion-icon name="logo-usd"></ion-icon>
      <ion-label>자산</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="schedule">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Schedule</ion-label>
    </ion-tab-button> -->

    <!-- <ion-tab-button tab="speakers">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Speakers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="map"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>-->

    <ion-tab-button tab="about" *ngIf="custLogin">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>소개</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
