<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-img [src]="img_url" alt="대표이미지" *ngIf="img_url != ''" ></ion-img>
  <p>{{content}}</p>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col><ion-button (click)="gotoEdit(seq)" expand="full" color="dark">수정</ion-button></ion-col>
      <ion-col><ion-button expand="full" color="medium">삭제</ion-button></ion-col>
    </ion-row>
  </ion-grid>

</ion-footer>