ion-toolbar {
  // TODO test transparent and fullscreen
  --background: transparent;
  --border-color: transparent;
}

.swiper-slide {
  display: block;
}

.slide-title {
  margin-top: 2.8rem;
}

.slide-image {
  max-height: 50%;
  max-width: 60%;
  margin: 36px 0;
}

b {
  font-weight: 500;
}

p {
  padding: 0 40px;
  font-size: 14px;
  line-height: 1.5;
  color: #60646b;

  b {
    color: #000000;
  }
}

.area {
  margin-bottom:10px;
  padding: 15px;
  background: rgba(0,0,0,0.05);
}

#dropZone {
  border: 2px dashed #bbb;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  font: 15pt bold arial;
  color: #bbb;
}

.drop-file-over{
background: #888;
}

.prev{text-align:left;}

.next{text-align:right;}

