<ion-header>
  <ion-toolbar>
	<ion-title>중복이름 고객</ion-title>
	<ion-buttons class="btn_close" slot="end" (click) = "dismiss()">
		<ion-icon name="close"></ion-icon>
	</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item><ion-label>중복고객 수</ion-label>{{cnt_customers}}</ion-item>
  <ion-list>
	<!-- <ion-list-header>
	  <ion-label>최신등록고객</ion-label>
	</ion-list-header> -->
	<ion-item *ngFor="let customer of customers" (click)="mergeCust(customer.cust_id, customer.cust_id2)">
	  <ion-label class="list-name">{{customer.cust_nm}} </ion-label>
	  <div class="account">신규등록 계좌 : <span>{{customer.account_no}}</span></div>
	  <div class="account"> 기존등록 계좌 : <span>{{customer.account_no2}}</span></div>
	</ion-item>
	<p>* '고객관리'에서 중복고객을 합치시기 바랍니다.</p>
  </ion-list>
</ion-content>
