
.tb_header{text-align: center; font-weight:bold;}
.no_apply{color:#aaa; background-color: #eee;}
.user_type{font-size:0.75rem; color:var(--ion-color-medium);}
.sel_user_type ion-label, .chk_no_apply ion-label{padding-left:0.5em !important;}

