
/* Text */
.align-right{text-align: right;}
.align-center{text-align: center;}


/* List */
.list-name span{font-size:0.8em; color:var(--ion-color-medium);}
.list-account{width:100px; font-size:0.9em; text-align: right;}
.list-rate{width:70px; font-size:0.9em; text-align:center;}
.list-date{font-size:0.8em; color:var(--ion-color-medium);}


/* Buttons */
.btn_close{padding:1em;}
//#kakao-link-btn{background-color:#fae202 !important;}

/* Header title */
ion-list-header{color:var(--ion-color-tertiary)}
