// .account, .rate{justify-content:center; font-size:1.3em;}
// .account span{font-size:0.7em;}

.pie_chart{display: flex; align-items: center; justify-content: center;}

.asset_info{font-size:0.95em;}
.more_info{
    height:0;
    font-size:0.9em; 
    text-align: right; 
    transition: height 0.2s ease-in-out;
} 
.more .more_info{height:100%;}

.more_icon{margin-top:0.2em; color:#999; font-size:0.8em;}
.remove{display: none;;}
.more .add{display: none;}
.more .remove{display: block;}
.info{padding:0;}
.more_info ion-label{font-size:0.9em; text-align: left; color:var(--ion-color-medium)}
.hidden_info{height:0; overflow: hidden;}
.show_info{height:100%;}

.retired_simulation{padding:0.5em;}
.retired_simulation ion-grid{padding:1em; background:var(--ion-color-light);}
.retired_simulation ion-grid.close{height:0; overflow: hidden; padding:0; transition: height 0.2s ease-in-out;}

.ages_range ion-col, .ages_range input{margin:0; padding:0; text-align:center;}
.ages_range span{font-size:0.8em;}
.ages_range .sc-ion-input-md-h{--padding-start:0;}

.retired_age ion-col, .period_pension ion-col{display:flex; align-items:center;}
.retired_age ion-col span, .period_pension ion-col span{width:100%; margin-top:0.1em; text-align: right;}

.calculate{padding:0.5em; font-size:0.9em;}
.calculate ion-input{text-align: right; font-size:0.9em;}
.calculate ion-input input{text-align: right;}
.calculate span{margin-left:1em;}
.calculate .input ion-label{width:95px;}
.calculate ion-input{margin-left: 1em; background: var(--ion-color-light); margin-right: 0.5em;}

.input_rate{height:100%; overflow: hidden; transition: height 0.2s ease-in-out;}
.input_rate.close{height:0; transition: height 0.2s ease-in-out;}

.btn_rate{font-size:0.95em;}
.btn_rate span{margin-left:1em; font-size:0.9em; color:var(--ion-color-light)}
.input_rate ion-input{text-align: right;}
.input_rate ion-label{width:150px;}
.input_rate ion-input{background: var(--ion-color-light);}