<ion-header>
  <ion-toolbar>
	<ion-buttons slot="start">
	  <ion-menu-button></ion-menu-button>
	</ion-buttons>
	<ion-title class="">홈</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-padding">

	<div class="file_upload">
		<div ng2FileDrop [ngClass]="{'drop-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="fileUploader"
			class="area">
			<div id="dropZone">이곳으로 업로드할 파일을 드래그하세요</div>
		</div>
		<input type="file" accept="xls/*" ng2FileSelect [uploader]="fileUploader" multiple />
		<h5 class="cnt_files">파일: {{ fileUploader?.queue?.length }}</h5>
		<ul>
			<li *ngFor="let item of fileUploader.queue">
			{{ item?.file?.name }}
			</li>
		</ul>
		<ion-row>
			<ion-col><ion-button expand="block" size="default" (click)="uploadingFiles()">업로드</ion-button></ion-col>
			<ion-col><ion-button expand="block" size="default" color="medium" (click)="uploadingFilesReset()">리셋</ion-button></ion-col>
		</ion-row>
	</div>

	<ion-row class="ion-margin-top">
		<ion-col><h3>전체 모집 자산</h3></ion-col>
		<ion-col class="align-self-center base_date">{{last_upload_date?.balance_date | toDate }} 기준</ion-col>
	</ion-row>
	<ion-row>
		<ion-col><div class="fund_raising"><span>총</span>{{total_account | number}}<span>원</span></div></ion-col>
	</ion-row>

	<div #pieChart style="height:280px;"> </div>
	<!-- <chart [chart_data]="recent_fp_asset"></chart> -->

	<ion-row>
		<ion-col><h3>전체관리고객</h3></ion-col>
		<ion-col class="cnt_costomers  align-self-center">{{cnt_customers}}<span>명</span></ion-col>
	</ion-row>
	<ion-list>
		<ion-list-header>
			<ion-label>최신등록고객</ion-label><ion-button size="small" color="light" routerLink="/app/tabs/customer/quick/reg_date">전체보기</ion-button>
		</ion-list-header>
		<ion-item *ngFor="let customer of customers | slice:0:5" (click) = "gotoCustDetail(customer.cust_id, customer.cust_nm)">
			<ion-label>{{customer.cust_nm}}</ion-label>
			<ion-label class="align-right">{{customer.reg_date.substring(0,10)}}</ion-label>
			<div class="btn_arrow"><ion-icon name="ios-arrow-forward"></ion-icon></div>
		</ion-item>
	</ion-list>
	<ion-list>
		<ion-list-header>
			<ion-label>자산순</ion-label><ion-button size="small" color="light" routerLink="/app/tabs/customer/quick/eval_account">전체보기</ion-button>
		</ion-list-header>
		<ion-item *ngFor="let customer2 of customers_account | slice:0:5" (click) = "gotoCustDetail(customer2.cust_id, customer2.cust_nm)">
			<ion-label>{{customer2.cust_nm}}</ion-label>
			<ion-label class="align-right">{{customer2.eval_account | number}}</ion-label>
			<div class="btn_arrow"><ion-icon name="ios-arrow-forward"></ion-icon></div>
		</ion-item>
	</ion-list>
	<ion-list>
		<ion-list-header>
			<ion-label>수익률순</ion-label><ion-button size="small" color="light" routerLink="/app/tabs/customer/quick/profits_rate">전체보기</ion-button>
		</ion-list-header>
		<ion-item *ngFor="let customer3 of customers_rate | slice:0:5" (click) = "gotoCustDetail(customer3.cust_id, customer3.cust_nm)">
			<ion-label>{{customer3.cust_nm}}</ion-label>
			<ion-label class="align-right">{{customer3.profits_rate | percent:'1.1'}}</ion-label>
			<div class="btn_arrow"><ion-icon name="ios-arrow-forward"></ion-icon></div>
		</ion-item>
	</ion-list>
	
</ion-content>
<!-- Default backdrop -->
<!-- <ion-backdrop></ion-backdrop> -->

<!-- Backdrop that is not tappable -->
<!-- <ion-backdrop tappable="false"></ion-backdrop> -->

<!-- Backdrop that is not visible -->
<!-- <ion-backdrop visible="false"></ion-backdrop> -->

<!-- Backdrop with propagation -->
<!-- <ion-backdrop stopPropagation="false"></ion-backdrop>
<ion-backdrop
  [tappable]="enableBackdropDismiss"
  [visible]="showBackdrop"
  [stopPropagation]="shouldPropagate">
</ion-backdrop> -->