<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>자산</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #pieChart style="height:280px;"> </div>

    <ion-item *ngFor="let date of dates" (click)="gotoDetail(date.balance_date)">
      <ion-label >{{date.balance_date | toDate}}</ion-label>
      <div style="margin-right:1em;">{{date.balance_date_group}}</div>
      <div>{{date.eval_account| number}}</div>
    </ion-item>
</ion-content>
