<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
      <ion-menu-button *ngIf="custLogin"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{cust_nm}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #pieChart style="height:280px;"> </div>
  <ion-item *ngFor="let date of dates; let i = index" id="asset{{i+1}}" 
      lines="{{i== 0 ? 'none' : ''}}"
      (click) = "gotoAssetResult(cust_id, cust_nm, date.balance_date, date.eval_account )" >
    <ion-grid>
      <ion-row>
        <ion-col size="{{i == 0 ? 12 : 4}}" class="balance_date">
          {{date.balance_date | toDate}}
        </ion-col>
        <ion-col size="{{i == 0 ? 8 : 5}}"class="eval_account align-right">
          {{date.eval_account | number }}<span>원</span>
        </ion-col>
        <ion-col size="{{i == 0 ? 4 : 2}}" class="rate align-right">
          {{date.profits_rate | percent:'1.1'}}
        </ion-col>
        <ion-col *ngIf="i == 0" size="12">
          <ion-button class="ion-float-right" color="secondary">자산내역 상세보기</ion-button>
        </ion-col>
        <ion-col *ngIf="i == 0" size="12">
          <ion-list-header>
            <ion-label>이전 현황</ion-label>
          </ion-list-header>
        </ion-col>
        <ion-col *ngIf="i != 0" size="1">
          <div class="btn_arrow"><ion-icon name="ios-arrow-forward"></ion-icon></div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
    <!-- fab placed to the (vertical) center and end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" id="kakao" style="display: none;">
      <ion-fab-button id="kakao-link-btn" color="kakao">
        <img src="./assets/img/kakaolink_btn_medium.png">
      </ion-fab-button>
    </ion-fab>
</ion-content>