<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
      <ion-menu-button *ngIf="custLogin"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{cust_nm}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #pieChart style="height:280px;"> </div>

  <ion-item *ngFor="let date of dates" (click) = "gotoAssetResult(cust_id, cust_nm, date.balance_date, date.eval_account )" >
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          {{date.balance_date | toDate}}
        </ion-col>
        <ion-col size="5"class="align-right">
          {{date.eval_account | number }}<span>원</span>
        </ion-col>
        <ion-col size="3" class="align-right">
          {{date.profits_rate | percent:'1.1'}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
    <!-- fab placed to the (vertical) center and end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" id="kakao" style="display: none;">
      <ion-fab-button id="kakao-link-btn" color="kakao">
        <img src="./assets/img/kakaolink_btn_medium.png">
      </ion-fab-button>
    </ion-fab>
</ion-content>